.boton3 {
    color: #F1AD02;
    background-color: black;
    border-radius: 15px;
    border: 1px solid white;
    width: 180px;
    height: 60px;
    cursor: pointer;
    font-weight: bold;
}
.activar {
    color: white;
    background-color: green;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.caja3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valorApuestaNumero {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    left: 30%;
    top: 30%;
    width: 100%;
    height: 100%;
}

.mensaje-sinoInputNumeros{
    .fondoInputN {
        transition: background-color 0.5s, color 0.5s;
        background-color: rgb(10, 88, 10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        height: 300px;
        border-style: dashed;
        border: 20px inset #F1AD02;

        .textoInputN {
            display: flex;
            justify-content: center;
            font-size: 40px;
            font-weight: bold;
            font-style: oblique;
            text-transform: uppercase;
            margin-top: 3rem;
            width: 600px;
            height: 200px;
        }

        .formulario {
            position: relative;
            bottom: 4rem;
            left: 7rem;
        }
        .escribir {
            border: 2px solid #F1AD02;
            border-radius: 20px;
            padding: 0.5rem;
            width: 370px;
            height: 25px;
        }

        .btnN-apostar {
            position: relative;
            bottom: 25px;
            left: 7rem;
            background-color: #F1AD02;
            width: 175px;
            height: 50px;
            cursor: pointer;
            border: 4px solid rgb(209, 25, 25);
            border-radius: 120px;
            font-weight: bold;
        }

        .btnN-otraApuesta {
            position: relative;
            top: 84px;
            right: 11rem;
            background-color: #F1AD02;
            width: 175px;
            height: 44px;
            font-weight: bold;
            cursor: pointer;
            border: 4px solid rgb(209, 25, 25);
            border-radius: 120px;
        }

        .btnN-apostar:hover {
            color: white;
            background-color: rgb(209, 25, 25);
            border: 4px solid #F1AD02;
        }

        .btnN-otraApuesta:hover {
            color: white;
            background-color: rgb(209, 25, 25);
            border: 4px solid #F1AD02;
        }

    }
}